.resp_table {
  margin: 1em 0;
  min-width: 140px;
  font-size: .9em;
}
.resp_table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.resp_table th {
  display: none;
}
.resp_table td {
  display: block;
}
.resp_table td:first-child {
  /* padding-top: .5em; */
}
.resp_table td:last-child {
  /* padding-bottom: .5em; */
}
.resp_table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
@media (min-width: 960px) {
  .resp_table td:before {
    display: none;
  }
}
.resp_table th, .resp_table td {
  text-align: left;
}
@media (min-width: 960px) {
  .resp_table th, .resp_table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .resp_table th:first-child, .resp_table td:first-child {
    /* padding-left: 0; */
  }
  .resp_table th:last-child, .resp_table td:last-child {
    /* padding-right: 0; */
  }
}
.resp_table {
  /* background: #34495E; */
  /* color: #fff; */
  border-radius: .4em;
  overflow: hidden;
}
.resp_table tr {
  /* border-color: #46637f; */
}
.resp_table th, .resp_table td {
  /* margin: .5em 1em; */
}
@media (min-width: 960px) {
  .resp_table th, .resp_table td {
    /* padding: 1em !important; */
  }
}
.resp_table th, .resp_table td:before {
  /* color: #dd5; */
}

/* body {
    padding: 0 2em;
    font-family: Montserrat, sans-serif !important;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: #444;
    background: #eee;
  }
  
  h1 {
    font-weight: normal;
    letter-spacing: -1px;
    color: #34495E;
  } */
/* my css */
.error{
  color: red;
  font-size: 0.8em;
}